@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?uh1wnx');
    src:    url('icomoon.eot?uh1wnx#iefix') format('embedded-opentype'),
        url('icomoon.ttf?uh1wnx') format('truetype'),
        url('icomoon.woff?uh1wnx') format('woff'),
        url('icomoon.svg?uh1wnx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-btn__:before {content: "\e941";}/*方框对号 */
.icon-btn__2:before {content: "\e942";}/*空心方框 */
.icon-110:before { content: "\e93f";}/*圆圈对号 */
.icon-uniE940:before { content: "\e940"; }  /*空心圆圈 */
.icon-uniE96E:before { content: "\e96e";}/*关闭退出 */
.icon-FY_:before {content: "\e96f";}/*退出登录*/
.icon-uniE96D:before {content: "\e96d";}/*视频*/
.icon-uniE96B:before { content: "\e96b";}/*人群*/
.icon-uniE96C:before {content: "\e96c";}/*签到*/
.icon-uniE967:before { content: "\e967";}/*分类*/
.icon--01:before {content: "\e968";}/*店铺*/
.icon-uniE969:before {content: "\e969";}/*空心价签*/
.icon-113:before {content: "\e96a";}/*文件*/
.icon-uniE966:before {content: "\e966";}/*个人信息对号*/
.icon-uniE965:before {content: "\e965";}/*会话汽泡里对号*/
.icon-vip0:before {content: "\e95e";}
.icon-vip6:before {content: "\e95f";}
.icon-vip5:before {content: "\e960";}
.icon-vip4:before {content: "\e961";}
.icon-vip3:before {content: "\e962";}
.icon-vip2:before {content: "\e963";}
.icon-vip1:before { content: "\e964";}
.icon-uniE95B:before { content: "\e95b";}/*圆点*/
.icon-uniE95C:before {content: "\e95c";}/*邮件*/
.icon-112:before { content: "\e95d";}/*邮件*/
.icon-uniE95A:before {content: "\e95a";}/*免字*/
.icon-uniE959:before { content: "\e959";}/*关闭*/
.icon-uniE956:before { content: "\e956";}/*圆脸表情*/
.icon-uniE957:before {content: "\e957";}/*方脸表情*/
.icon-uniE958:before {content: "\e958";}/*气球*/
.icon-uniE951:before {content: "\e951";}/*文件搜索*/
.icon-uniE952:before {content: "\e952";}/*钱袋子*/
.icon-uniE953:before {content: "\e953";}/*个人中心*/
.icon-uniE954:before {content: "\e954";}/*文件夹*/
.icon-purchase:before { content: "\e955";}/*打开的箱子*/
.icon-uniE949:before { content: "\e949";}/*圆圈里钻石*/
.icon-uniE94A:before {content: "\e94a";}/*灯泡*/
.icon-uniE94B:before {content: "\e94b";}/*金币*/
.icon-uniE94C:before {content: "\e94c";}/*钱币*/
.icon-uniE94D:before {content: "\e94d";}/*水滴+皮箱*/
.icon-icon:before {content: "\e94e";}/*钱袋子*/
.icon-uniE94F:before { content: "\e94f";}/*向上大箭头*/
.icon-VIP_2:before {content: "\e950";}
.icon-uniE948:before {content: "\e948";}/*刷新*/
.icon-111:before {content: "\e946";}/*top置顶*/
.icon-uniE947:before {content: "\e947";}/*中扩号里减号*/
.icon-uniE945:before {content: "\e945";}/*价签*/
.icon-uniE943:before {content: "\e943";}/*通讯录*/
.icon-uniE944:before { content: "\e944";}/*向右弯箭头*/
.icon-uniE93D:before { content: "\e93d";}/*小旗*/
.icon-uniE93E:before { content: "\e93e";}/*编辑信息*/
.icon-kunzy:before {content: "\e900";}/*小花*/
.icon-uniE901:before {content: "\e901";}/*设置*/
.icon-uniE902:before {content: "\e902";}/*位置标注*/
.icon-uniE903:before { content: "\e903";}/*对话*/
.icon-uniE904:before {content: "\e904";}/*对号*/
.icon-uniE905:before { content: "\e905";}/*分享*/
.icon-uniE906:before {content: "\e906";}/*更多...*/
.icon-QQ:before { content: "\e907";}/*QQ*/
.icon-uniE908:before { content: "\e908";}/*新浪*/
.icon-uniE909:before { content: "\e909";}/*朋友圈*/
.icon-uniE90A:before { content: "\e90a";}/*主页*/
.icon-uniE90B:before { content: "\e90b";}/*我*/
.icon-icon-1460187631756:before {content: "\e90c";}/*放大镜*/
.icon-1:before { content: "\e90d";}/*更多*/
.icon-12:before {content: "\e90e";}/*删除*/
.icon-uniE90F:before {content: "\e90f";}/*放大镜*/
.icon-13:before {content: "\e910";}/*小喇叭*/
.icon-uniE911:before { content: "\e911";}/*存盘*/
.icon-uniE912:before {content: "\e912";}/*钱币*/
.icon-uniE913:before {content: "\e913";}/*手机来电*/
.icon-14:before { content: "\e914";}/*电话来电*/
.icon-2:before {content: "\e915";}/*电话*/
.icon-3:before {content: "\e916";}/*电话2*/
.icon-uniE917:before {content: "\e917";}/*性别男图标*/
.icon-uniE918:before { content: "\e918";}/*性别女图标*/
.icon-uniE919:before {content: "\e919";}/*人员信息*/
.icon-15:before {content: "\e91a";}
.icon-22:before {content: "\e91b";}
.icon-32:before {content: "\e91c";}
.icon-4:before { content: "\e91d";}
.icon-5:before {content: "\e91e";}
.icon-6:before {content: "\e91f";}
.icon-uniE920:before {content: "\e920";}/*添加人员*/
.icon-uniE921:before { content: "\e921";}/*加号相机*/
.icon-uniE922:before {content: "\e922";}/*加号*/
.icon-uniE923:before {content: "\e923";}/*下载*/
.icon-uniE924:before {content: "\e924";}/*小铃铛*/
.icon-uniE925:before {content: "\e925";}/*小喇叭2*/
.icon-uniE926:before {content: "\e926";}/*右三角*/
.icon-16:before {content: "\e927";}/*左三角*/
.icon-23:before { content: "\e928";}/*下三角*/
.icon-uniE929:before { content: "\e929";}/*评论*/
.icon-17:before { content: "\e92a";}/*文件搜索*/
.icon-uniE92B:before {content: "\e92b";}/*个人信息问号*/
.icon-uniE92C:before { content: "\e92c";}/*个人中心*/
.icon-uniE92D:before {content: "\e92d";}/*焦点聚焦*/
.icon-uniE92E:before { content: "\e92e";}/*图片*/
.icon-uniE92F:before {content: "\e92f";}/*眼睛*/
.icon-uniE930:before { content: "\e930";}/*赞*/
.icon-uniE931:before { content: "\e931";}/*叹号*/
.icon-uniE932:before {content: "\e932";}/*企业楼房 */
.icon-18:before {content: "\e933";}/*企业楼房 */
.icon-uniE934:before { content: "\e934";}/*文件列表*/
.icon-uniE935:before {content: "\e935";}/*收藏 */
.icon-19:before {content: "\e936";}/*收藏2 */
.icon-uniE937:before {content: "\e937";}/*锁 */
.icon-uniE938:before {content: "\e938";}/*手机 */
.icon-uniE939:before {content: "\e939";}/*语音图标 */
.icon-uniE93A:before {content: "\e93a";}/*人群 */
.icon-uniE93B:before {content: "\e93b";}/*图表 */
.icon-uniE93C:before { content: "\e93c";}/*文件向上箭头 */

